apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-app
  labels:
    app: laravel-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: laravel-app
  template:
    metadata:
      labels:
        app: laravel-app
    spec:
      volumes:
        - name: nginx-config
          configMap:
            name: laravel-nginx-config
      containers:
        - name: laravel
          image: laravel-app-image:v3
          imagePullPolicy: IfNotPresent
          # imagePullPolicy: Never
          # ports:
          #   - containerPort: 9000
          envFrom:
            - secretRef:
                name: laravel-app-sealedsecret
            - secretRef:
                name: mysql-secret
            - secretRef:
                name: redis-secret
          # volumeMounts:
          #   - name: nginx-config
          #     mountPath: /var/www/.env
          #     subPath: .env
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
                A
              cpu: "500m"
        - name: nginx
          image: nginx:alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d
          resources:
g           requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
